 /* * {
   margin: 0;
   padding: 0;
 }

 body {
   background-color: lightskyblue;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
 }

 .container {
   position: relative;
   width: 800px;
   height: 500px;
   background-color: aliceblue;
 }

 .clip {
   position: absolute;
   width: 100%;
   height: 100%;
   transition: all 0.5s;
  
 }

 .clip1 {
   background: url(https://th.bing.com/th/id/OIP.bogtXWBjY3tpmpb9Cpc81wHaEK?rs=1&pid=ImgDetMain);
   background-position: center;
   background-size: cover;
   clip-path: polygon(0 0, 46% 0, 39% 100%, 0 100%);

 }

 .clip2 {
   background-image: url(https://th.bing.com/th/id/R.9bf0470cbea90c844c635f40d84f3721?rik=bP%2fUizTRhIaOxg&riu=http%3a%2f%2f2.bp.blogspot.com%2f-2YcnpB_0rjs%2fUFNEQkoF6SI%2fAAAAAAAAJoM%2ft9l0XjtvR9s%2fs0%2fnaruto-uzumaki-1920x1080-wallpaper.jpg&ehk=07gu0u7Y%2fkEbDk5qfjr%2fphBMAAsshHtPB3OF3pHGQr8%3d&risl=&pid=ImgRaw&r=0);
   background-position: center;
   background-size: cover;
   clip-path: polygon(19% 0, 87% 0, 64% 100%, 33% 100%);
 }

 .clip3 {
   background-image: url(https://th.bing.com/th/id/R.0817973857d8a6e08a461f5737cf31f8?rik=N9v4MstFmpxZHw&riu=http%3a%2f%2fimages2.fanpop.com%2fimages%2fphotos%2f8400000%2fSakura-Haruno-haruno-sakura-8400997-600-761.jpg&ehk=wWJBuVQ8CfADqQH1mRVGw8LHCOKdeFltnDLJLkNYI1k%3d&risl=&pid=ImgRaw&r=0);
   background-position: center;
   background-size: cover;
   clip-path: polygon(82% 0, 100% 0, 100% 100%, 63% 100%);
 }

 .container:hover .clip {
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}

.container .clip:hover {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
} */
 
 * body {
    margin: 0;
    padding: 0;
    background: #555;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    position: relative;
    width: 800px;
    height: 500px;
    background: #222;
  }
  
  .clip {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
  }
  
  .clip1 {
    background: url(https://th.bing.com/th/id/R.0817973857d8a6e08a461f5737cf31f8?rik=N9v4MstFmpxZHw&riu=http%3a%2f%2fimages2.fanpop.com%2fimages%2fphotos%2f8400000%2fSakura-Haruno-haruno-sakura-8400997-600-761.jpg&ehk=wWJBuVQ8CfADqQH1mRVGw8LHCOKdeFltnDLJLkNYI1k%3d&risl=&pid=ImgRaw&r=0);
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 46% 0, 39% 100%, 0 100%);
  }
  
  .clip2 {
    background: url(https://images.unsplash.com/photo-1502228213426-d4e9f2add0e5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;
    background-position: center;
    clip-path: polygon(19% 0, 87% 0, 64% 100%, 33% 100%);
  }
  
  .clip3 {
    background: url(https://images.unsplash.com/photo-1519757043093-285fcb07a4e4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80);
    background-size: cover;
    background-position: center;
    clip-path: polygon(82% 0, 100% 0, 100% 100%, 63% 100%);
  }
  
  .container:hover .clip {
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  }
  
  .container .clip:hover {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  } 