*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:lightblue;
    height:100vh;
    font-family:sans-serif;
}
a{
    text-decoration: none;
    font-size: 1.4em;
    font-weight: bold;
    border: 2px solid black;
    padding: 2rem 3em;
    color:blue;
    position: relative;
    overflow: hidden;
    
}

a::before{
    content: "Download";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(70, 197, 35);
    color: cyan;
    font-weight: bold;
    top:0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotatex(-270deg);
    transform-origin: top;
    transition: all 0.5s;
}

a::after{
    content: "Download";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(28, 56, 56);
    color: aliceblue;
    font-weight: bold;
    top:0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateX(270deg);
    transform-origin: top;
    transition: all 0.5s;
    transition-delay: 0.25s;
}
a:hover::after{
    transform: rotate(0deg);
}
a:hover::before{
    transform: rotate(0deg);
} 

